body {
    background: #f0f0f0;
    margin: 0;
}
/******* CUSTOM FONTS *******/
.anton {
    font-family: 'Anton', sans-serif;
}
.abel {
    font-family: 'Abel', sans-serif;
}

/******* CIRCLE ELEMENTS  **********/
.circle {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    border: white solid 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    color: white;
    margin: 10px;
}
.design {
    background-color: #E6563b;
}
.develop {
    background-color: #eb9d39;
}
.support {
    background-color: #7bb16c;
}
.host {
    background-color: #22abaa;
}


/********* CONTENT ELEMENTS *********/
.headline {
    margin-bottom: 35px;
}
.card {
    display: inline-block;
    margin: 0.2rem;
}
.card-image {
    border-color: #E6E6E6;
    height: 15rem;
}
.icon {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    color: black;
    margin: 0 .25em;
    font-size: .75em;
}


