body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    margin: 1em;
    padding: .5em;
    border-style: solid;
    border-radius: 5px;
}

.message-info {
    background-color: rgb(199 217 253);
    border-color: lightgrey;
    color: rgb(107 107 178);
}
.message-success {
    background-color: rgb(202 241 214);
    border-color: lightgrey;
    color: rgb(51 120 77);
}
.message-warning {
    background-color: rgb(251 251  198 );
    border-color: lightgrey;
    color: rgb(146 130 61);
}
.message-error {
    background-color: rgb(248 205 210);
    border-color: lightgrey;
    color: rgb(136 49 69);
}